<div class="header-container">
	<div class="container">
		<header>
			<div class="logo">
				<%= link_to image_tag('logo.png'), root_url %>
			</div>
			<h2>Wireless In-Flight Entertainment</h2>
		</header>

		<div class="divider"></div>

		<div class="screenshot">
			<%= image_tag('screenshot.png') %>
		</div>

	</div>
</div>

<div class="information">
	<div class="container">
		<div class="product-row">
			<div class="product-info" id="movies">
				<div class="product-description">
					<%= image_tag('movies.png') %>
					<h2>Movies</h2>
					<p>High Quality OnDemand Movies</p>
					<p>Latest OnDemand TV Shows</p>
					<p>Destination informative videos</p>
					<p>Pay per view or free</p>
				</div>
			</div>
			<div class="product-info" id="explore">
				<div class="product-description">
					<%= image_tag('explore.png') %>
					<h2>Explore</h2>
					<p>Destination Discovery</p>
					<p>Tours and Activities</p>
					<p>Destination informative videos</p>
					<p>Hotels and Restaurants</p>
				</div>
			</div>
			<div class="product-info-last" id="inform">
				<div class="product-description">
					<%= image_tag('inform.png') %>
					<h2>Inform</h2>
					<p>3D Moving Maps</p>
					<p>Crew Messaging</p>
					<p>Onboard promotions</p>
					<p>Food, Drinks and Duty Free</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="product-row">
			<div class="product-info" id="shop">
				<div class="product-description">
					<%= image_tag('shopping.png') %>
					<h2>Shopping</h2>
					<p>Purchase onboard</p>
					<p>Delivery at Home</p>
					<p>Collect at the airport</p>
					<p>Collect at your destination</p>
				</div>
			</div>
			<div class="product-info" id="read">
				<div class="product-description">
					<%= image_tag('read.png') %>
					<h2>Read</h2>
					<p>Latest Magazines</p>
					<p>City Guides</p>
					<p>Latest books</p>
					<p>Destination specific content</p>
				</div>
			</div>
			<div class="product-info-last" id="play">
				<div class="product-description">
					<%= image_tag('games.png') %>
					<h2>Games</h2>
					<p>Childrens puzzels and games</p>
					<p>Multiplayer technology</p>
					<p>Leaderboards</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="iphone">
	<div class="container">
		<div class="background"></div>
		<div class="iphone-description">
			<h2>We help your passengers discover<br /> what their destination has to offer</h2>
			<p>Through our smart recommendation engine, we combine social media and customer data to provide passengers with a unqiue tailored experience of shopping and local discovery</p>
		</div>
	</div>

</div>

<script type="text/javascript">
	$(function() {
		$(".header-container").backstretch("/assets/background.jpg");
		$(".iphone").backstretch("/assets/iPhone.jpg");
	});
</script>