<div class="header-container">
	<div class="container">
		<header>
			<div class="logo">
				<%= link_to image_tag('logo.png'), root_url %>
			</div>
			<h2>Wireless In-Flight Entertainment</h2>
		</header>

		<div class="divider"></div>

		<div class="screenshot">
			<%= image_tag('screenshot.png') %>
		</div>

	</div>
</div>

<div class="information">
	<div class="container">
		<div class="product-row">
			<div class="product-info" id="movies">
				<div class="product-description">
					<%= image_tag('movies.png') %>
					<h2>Movies</h2>
					<p>High Quality OnDemand Movies</p>
					<p>Latest OnDemand TV Shows</p>
					<p>Destination informative videos</p>
					<p>Pay per view or free</p>
				</div>
			</div>
			<div class="product-info" id="explore">
				<div class="product-description">
					<%= image_tag('explore.png') %>
					<h2>Explore</h2>
					<p>Destination Discovery</p>
					<p>Tours and Activities</p>
					<p>Destination informative videos</p>
					<p>Hotels and Restaurants</p>
				</div>
			</div>
			<div class="product-info-last" id="inform">
				<div class="product-description">
					<%= image_tag('inform.png') %>
					<h2>Inform</h2>
					<p>3D Moving Maps</p>
					<p>Crew Messaging</p>
					<p>Onboard promotions</p>
					<p>Food, Drinks and Duty Free</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
		<div class="product-row">
			<div class="product-info" id="shop">
				<div class="product-description">
					<%= image_tag('shopping.png') %>
					<h2>Shopping</h2>
					<p>Purchase onboard</p>
					<p>Delivery at Home</p>
					<p>Collect at the airport</p>
					<p>Collect at your destination</p>
				</div>
			</div>
			<div class="product-info" id="read">
				<div class="product-description">
					<%= image_tag('read.png') %>
					<h2>Read</h2>
					<p>Latest Magazines</p>
					<p>City Guides</p>
					<p>Latest books</p>
					<p>Destination specific content</p>
				</div>
			</div>
			<div class="product-info-last" id="play">
				<div class="product-description">
					<%= image_tag('games.png') %>
					<h2>Games</h2>
					<p>Childrens puzzels and games</p>
					<p>Multiplayer technology</p>
					<p>Leaderboards</p>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
</div>

<div class="iphone">
	<div class="container">
		<div class="background"></div>
		<div class="iphone-description">
			<h2>We help your passengers discover<br /> what their destination has to offer</h2>
			<p>Through our smart recommendation engine, we combine social media and customer data to provide passengers with a unqiue tailored experience of shopping and local discovery</p>
		</div>
	</div>
</div>

<div class="main-points">
	<div class="container">
		<div class="section">
			<div class="section-left">
				<h3>Customized To Your Brand</h3>
				<p>Media inMotion is a modular platform which means it is completely configurable to suit your brand.</p>
				<p>Airlines can activate sources of inventory as required</p>
				<p>The existing content can be replaced in it's entirety, or complemented by the existing inventory available from the Airline's partners.<p>
			</div>
			<div class="section-right">
				<h3>Go beyond traditional IFE</h3>
				<p>The traditional IFE solution is often about entertainment solely. We see the world a little differently.</p>
				<p>Through our smart recommendation engine, we combine social media and customer data to provide passengers with a unqiue tailored experience of shopping and local discovery.</p>
			</div>
			<div class="clear"></div>
		</div>

		<div class="section">
			<div class="section-left">
				<h3>No Cables, Just Happy Passengers</h3>
				<p>A traditional IFE installation can incur considerable costings to deploy. Mounting, installing and deploying the solution can involve extensive cable running throughout the body of the aircraft.</p>
				<p>Our innovative, low-cost solution takes less than 10 seconds to install, removing the need to loosen a single screw in the aircraft.</p>
				<p>This allows the Airline to focus on the passenger experience and ancillary revenues immediatley and significantly reducing the total cost of ownership.<p>
			</div>
			<div class="section-right">
				<h3>Device and Hardware Agnostic</h3>
				<p>With our unique innovative solution, you can continue to move with the times. As new technologies are released in both hardware and software, upgrading and deploying is a matter of weeks away.</p>
				<p>Passengers can use any WiFi enabled device. Their smartphone, tablet or laptop</p>
				<p>Airline's can supply passengers with their own devices</p>
				<p>Any WiFi enabled crew device is compatible offering full crew integration</p>
			</div>
			<div class="clear"></div>
		</div>

		<div class="section">
			<div class="get-in-touch">
				<%= link_to "Contact Us For More Information", "mailto:info@mim.aero", :class => "mim-button" %>
			</div>
		</div>

	</div>
</div>

<div class="divider-inverted"></div>
<div class="footer">
	<div class="container">
		&copy; Media inMotion 2014 &bull; <%= link_to "Marketing Pack", "http://c.minicorp.ie/0B1q3o3V1k1p" %> &bull; <%= link_to "Marketing Brochure", "http://f.cl.ly/items/0k3D382A3X2F090B3o1Y/MIM-Brochure-JAN-FINAL-OL-4.pdf" %>
	</div>
	
</div>

<script type="text/javascript">
	$(function() {
		$(".header-container").backstretch("/assets/background.jpg");
		$(".iphone").backstretch("/assets/iPhone.jpg");
	});
</script>